.wrapper {
	height: 99vh;
	background-size: cover;
	background-image: url('../../../assets/svgs/sign-in-bg.avif');
}

.form {
	border-right: 0.063rem solid
		light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
	min-height: 99vh;
	max-width: 28.125rem;
	padding-top: 5rem;

	@media (max-width: $mantine-breakpoint-sm) {
		max-width: 100%;
	}
}
