@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

:root {
	color-scheme: var(--mantine-color-scheme);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
}

input,
button,
textarea,
select {
	font: inherit;
}

button,
select {
	text-transform: none;
}
